In [8]:
import numpy as np
import pandas as pd
import qgrid
from assignment_team import create_random_dataframe, create_dataframe, solve, estimate_cost

In [9]:
# df = create_random_dataframe()
pref = create_dataframe('total_overview_fixed_lars.xlsx')

In [10]:
pref_widget = qgrid.show_grid(pref, show_toolbar=True)
pref_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [19]:
pref = pref_widget.get_changed_df()
team, cost = solve(pref, team_size_max=15, debug=True)

Minimum cost =  510.0

===  Natural Sciences & Engineering :
	   1 . Pablo Rodríguez-Sánchez   	Cost =  10 	 [10 100 20 100]
	   2 . Berend Weel               	Cost =  10 	 [10 100 100 100]
	   3 . Felipe Zapata Ruiz        	Cost =  10 	 [10 20 100 100]
	   4 . Stef Smeets               	Cost =  10 	 [10 20 100 100]
	   5 . Ben van Werkhoven         	Cost =  10 	 [10 100 100 100]
	   6 . Faruk Diblen              	Cost =  10 	 [10 100 100 100]
	   7 . Gijs van den Oord         	Cost =  10 	 [10 100 20 100]
	   8 . Inti Pelupessy            	Cost =  10 	 [10 100 100 100]
	   9 . Lourens Veen              	Cost =  10 	 [10 100 100 100]
	  10 . Robin Richardson          	Cost =  10 	 [10 100 20 100]
	  11 . Jens Wehner               	Cost =  10 	 [10 100 20 100]
	  12 . Johannes Hidding          	Cost =  10 	 [10 100 20 100]
	  13 . Leon Oostrum              	Cost =  10 	 [10 100 20 100]
	  14 . Meiert Grootes            	Cost =  10 	 [10 100 20 100]
	  15 . Victor Azizi Tarksalooyeh 	Cost =  10 	 [10 100 20 100]

===  Life Sciences :
	   1 . Cunliang Geng             	Cost =  10 	 [100 10 100 100]
	   2 . Peter Kok                 	Cost =  10 	 [100 10 20 100]
	   3 . Stefan Verhoeven          	Cost =  10 	 [100 10 100 100]
	   4 . Sven van der Burg         	Cost =  10 	 [100 10 20 100]
	   5 . Djura Smits               	Cost =  10 	 [100 10 100 100]
	   6 . Merijn Verstraaten        	Cost =  20 	 [10 20 100 100]
	   7 . Sonja Georgievska         	Cost =  10 	 [100 10 20 100]
	   8 . Florian Huber             	Cost =  10 	 [20 10 100 100]
	   9 . Hanno Spreeuw             	Cost =  20 	 [10 20 100 100]

===  Environment & Sustainability :
	   1 . Barbara Vreede            	Cost =  10 	 [100 20 10 100]
	   2 . Sarah Alidoost            	Cost =  10 	 [20 100 10 100]
	   3 . Bouwe Andela              	Cost =  10 	 [100 100 10 100]
	   4 . Jaro Camphuijsen          	Cost =  20 	 [10 100 20 100]
	   5 . Niels Drost               	Cost =  10 	 [20 100 10 100]
	   6 . Peter Kalverla            	Cost =  10 	 [100 20 10 100]
	   7 . Ou Ku                     	Cost =  10 	 [100 100 10 20]
	   8 . Yang Liu                  	Cost =  10 	 [20 100 10 100]
	   9 . Francesco Nattino         	Cost =  10 	 [20 100 10 100]
	  10 . Pushpanjali Pawar         	Cost =  10 	 [100 100 10 100]
	  11 . Maarten van Meersbergen   	Cost =  10 	 [100 100 10 20]
	  12 . Thijs van Lankveld        	Cost =  10 	 [20 100 10 100]
	  13 . Alessio Sclocco           	Cost =  20 	 [10 100 20 100]
	  14 . Mariya Chertova           	Cost =  10 	 [20 100 10 100]
	  15 . Pablo Lopez-Tarifa        	Cost =  20 	 [10 100 20 100]

===  Social Sciences & Humanities :
	   1 . Jesus Garcia Gonzalez     	Cost =  10 	 [100 100 20 10]
	   2 . Christiaan Meijer         	Cost =  10 	 [100 100 20 10]
	   3 . Erik Tjong-Kim-Sang       	Cost =  10 	 [100 100 100 10]
	   4 . Dafne van Kuppevelt       	Cost =  10 	 [100 100 100 10]
	   5 . Jurriaan Spaaks           	Cost =  10 	 [100 100 20 10]
	   6 . Patrick Bos               	Cost =  20 	 [10 100 100 20]

In [18]:
team_widget = qgrid.show_grid(team, show_toolbar=True)
team_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [17]:
team = team_widget.get_changed_df()
new_cost = estimate_cost(team, pref)

Total cost =  [510]