In [1]:
import numpy as np
import pandas as pd
import qgrid
from assignment_team import create_random_dataframe, solve

In [16]:
df = create_random_dataframe()

In [17]:
qgrid_widget = qgrid.show_grid(df, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [18]:
df = qgrid_widget.get_changed_df()
solve(df, team_size_max=12)

Minimum cost =  150.0

===  Exact Science :
	   1 . Eleanor Peterson          	Cost =  0 	 [0 10 20 30]
	   2 . Arturo Duffy              	Cost =  0 	 [0 10 20 30]
	   3 . Debora Mead               	Cost =  0 	 [0 10 20 30]
	   4 . Carol Parker              	Cost =  0 	 [0 10 20 30]
	   5 . Ida Porter                	Cost =  0 	 [0 10 20 30]
	   6 . Eva Pooler                	Cost =  0 	 [0 20 10 30]
	   7 . Jeffrey Schaller          	Cost =  0 	 [0 10 30 20]
	   8 . Jean Kuntz                	Cost =  0 	 [0 10 20 30]
	   9 . Lisa Agan                 	Cost =  0 	 [0 20 10 30]
	  10 . Karen Guthrie             	Cost =  0 	 [0 30 10 20]
	  11 . Louis Stepro              	Cost =  0 	 [0 20 10 30]
	  12 . Blanca Nelson             	Cost =  0 	 [0 20 10 30]

===  Life Science :
	   1 . Larry Martin              	Cost =  0 	 [10 0 20 30]
	   2 . Julio Dasilva             	Cost =  0 	 [20 0 10 30]
	   3 . Virginia Bryant           	Cost =  0 	 [10 0 20 30]
	   4 . Ernesto Hodge             	Cost =  0 	 [30 0 10 20]
	   5 . Diane Cull                	Cost =  10 	 [0 10 30 20]
	   6 . Ella Moore                	Cost =  0 	 [20 0 10 30]
	   7 . Jack Martin               	Cost =  0 	 [20 0 10 30]
	   8 . Jean Anderson             	Cost =  0 	 [20 0 10 30]
	   9 . William Harris            	Cost =  0 	 [30 0 20 10]
	  10 . Cynthia Johnson           	Cost =  0 	 [20 0 10 30]
	  11 . Jane Horn                 	Cost =  0 	 [10 0 20 30]
	  12 . Gloria Olsen              	Cost =  0 	 [20 0 10 30]

===  Environement :
	   1 . Myrtle Arevalo            	Cost =  10 	 [0 20 10 30]
	   2 . Daniel Jones              	Cost =  0 	 [20 30 0 10]
	   3 . David Lemmon              	Cost =  10 	 [0 30 10 20]
	   4 . Terese Seide              	Cost =  0 	 [10 20 0 30]
	   5 . Chrystal Mclean           	Cost =  0 	 [20 10 0 30]
	   6 . Tonya Hall                	Cost =  0 	 [20 10 0 30]
	   7 . Ann Morrow                	Cost =  0 	 [20 10 0 30]
	   8 . Ray Galarza               	Cost =  0 	 [10 20 0 30]
	   9 . Christopher Spader        	Cost =  10 	 [0 30 10 20]
	  10 . Ana Burris                	Cost =  10 	 [0 20 10 30]
	  11 . David Navarro             	Cost =  0 	 [30 20 0 10]
	  12 . Earl Wilkinson            	Cost =  0 	 [10 30 0 20]

===  Humanities :
	   1 . Nick Collom               	Cost =  10 	 [0 20 30 10]
	   2 . Yolanda Starling          	Cost =  10 	 [0 30 20 10]
	   3 . Hazel Nelson              	Cost =  10 	 [0 30 20 10]
	   4 . Joanne Carson             	Cost =  0 	 [10 30 20 0]
	   5 . Phyllis Pew               	Cost =  10 	 [30 0 20 10]
	   6 . Charles Kettle            	Cost =  0 	 [10 30 20 0]
	   7 . Maria Regan               	Cost =  10 	 [0 20 30 10]
	   8 . Helen Robinson            	Cost =  20 	 [0 30 10 20]
	   9 . Antonia Eberhardt         	Cost =  10 	 [0 30 20 10]
	  10 . Helen Delapp              	Cost =  10 	 [0 30 20 10]
	  11 . Bernard Pies              	Cost =  10 	 [0 30 20 10]