In [2]:
import numpy as np
import pandas as pd
import qgrid
from assignment_team import create_random_dataframe, create_dataframe, solve

In [3]:
# df = create_random_dataframe()
df = create_dataframe('total_overview_fixed.xlsx')

Bouwe Andela  2nd choice ( Natural Sciences & Engineering OR Life sciences ) not recognized
Pushpanjali Pawar  2nd choice ( No preference ) not recognized
Berend Weel  2nd choice ( No preference ) not recognized
Cunliang Geng  2nd choice ( no preference ) not recognized
Erik Tjong-Kim-Sang  1st choice ( No preference ) not recognized
Erik Tjong-Kim-Sang  2nd choice ( nan ) not recognized
Felipe Zapata Ruiz  2nd choice ( nan ) not recognized
Maarten van Meersbergen  2nd choice ( Strong preference for Env&sust! Did some projects in the SSH domain, but is not driven/motivated by the SSH science) ) not recognized
Peter Kok  2nd choice ( nan ) not recognized
Stef Smeets  2nd choice ( nan ) not recognized
Stefan Verhoeven  1st choice ( No preference ) not recognized
Stefan Verhoeven  2nd choice ( nan ) not recognized
Sven van der Burg  2nd choice ( nan ) not recognized
Ben van Werkhoven  2nd choice ( nan ) not recognized
Dafne van Kuppevelt  2nd choice ( No preference ) not recognized
Djura Smits  2nd choice ( No preference ) not recognized
Faruk Diblen  2nd choice ( No preference ) not recognized
Inti Pelupessy  2nd choice ( No preference ) not recognized
Lourens Veen  2nd choice ( No preference ) not recognized
Stijn Heldens  1st choice ( nan ) not recognized
Stijn Heldens  2nd choice ( nan ) not recognized
Maaike de Jong  2nd choice ( none ) not recognized

In [4]:
qgrid_widget = qgrid.show_grid(df, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [4]:
df = qgrid_widget.get_changed_df()
solve(df, team_size_max=15)

Minimum cost =  820.0

===  Natural Sciences & Engineering :
	   1 . Jaro Camphuijsen          	Cost =  10 	 [10 100 20 100]
	   2 . Pablo Rodríguez-Sánchez   	Cost =  10 	 [10 100 20 100]
	   3 . Berend Weel               	Cost =  10 	 [10 100 100 100]
	   4 . Ben van Werkhoven         	Cost =  10 	 [10 100 100 100]
	   5 . Faruk Diblen              	Cost =  10 	 [10 100 100 100]
	   6 . Gijs van den Oord         	Cost =  10 	 [10 100 20 100]
	   7 . Inti Pelupessy            	Cost =  10 	 [10 100 100 100]
	   8 . Lourens Veen              	Cost =  10 	 [10 100 100 100]
	   9 . Robin Richardson          	Cost =  10 	 [10 100 20 100]
	  10 . Alessio Sclocco           	Cost =  10 	 [10 100 20 100]
	  11 . Jens Wehner               	Cost =  10 	 [10 100 20 100]
	  12 . Johannes Hidding          	Cost =  10 	 [10 100 20 100]
	  13 . Leon Oostrum              	Cost =  10 	 [10 100 20 100]
	  14 . Meiert Grootes            	Cost =  10 	 [10 100 20 100]
	  15 . Victor Azizi Tarksalooyeh 	Cost =  10 	 [10 100 20 100]

===  Life Sciences :
	   1 . Barbara Vreede            	Cost =  20 	 [100 20 10 100]
	   2 . Cunliang Geng             	Cost =  10 	 [100 10 100 100]
	   3 . Felipe Zapata Ruiz        	Cost =  10 	 [100 10 100 100]
	   4 . Stef Smeets               	Cost =  10 	 [100 10 100 100]
	   5 . Stefan Verhoeven          	Cost =  100 	 [100 100 100 100]
	   6 . Djura Smits               	Cost =  10 	 [100 10 100 100]
	   7 . Merijn Verstraaten        	Cost =  20 	 [10 20 100 100]
	   8 . Sonja Georgievska         	Cost =  10 	 [100 10 20 100]
	   9 . Stijn Heldens             	Cost =  100 	 [100 100 100 100]
	  10 . Florian Huber             	Cost =  10 	 [20 10 100 100]
	  11 . Hanno Spreeuw             	Cost =  20 	 [10 20 100 100]

===  Environment & Sustainability :
	   1 . Sarah Alidoost            	Cost =  10 	 [20 100 10 100]
	   2 . Bouwe Andela              	Cost =  10 	 [100 100 10 100]
	   3 . Niels Drost               	Cost =  10 	 [20 100 10 100]
	   4 . Peter Kalverla            	Cost =  10 	 [100 20 10 100]
	   5 . Ou Ku                     	Cost =  10 	 [100 100 10 20]
	   6 . Yang Liu                  	Cost =  10 	 [20 100 10 100]
	   7 . Francesco Nattino         	Cost =  10 	 [20 100 10 100]
	   8 . Pushpanjali Pawar         	Cost =  10 	 [100 100 10 100]
	   9 . Peter Kok                 	Cost =  10 	 [100 100 10 100]
	  10 . Sven van der Burg         	Cost =  10 	 [100 100 10 100]
	  11 . Thijs van Lankveld        	Cost =  10 	 [20 100 10 100]
	  12 . Mariya Chertova           	Cost =  10 	 [20 100 10 100]
	  13 . Pablo Lopez-Tarifa        	Cost =  20 	 [10 100 20 100]
	  14 . Maaike de Jong            	Cost =  10 	 [100 100 10 100]
	  15 . Mateusz Kuzak             	Cost =  10 	 [100 20 10 100]

===  Social Sciences & Humanities :
	   1 . Jesus Garcia Gonzalez     	Cost =  10 	 [100 100 20 10]
	   2 . Christiaan Meijer         	Cost =  10 	 [100 100 20 10]
	   3 . Erik Tjong-Kim-Sang       	Cost =  100 	 [100 100 100 100]
	   4 . Maarten van Meersbergen   	Cost =  10 	 [100 100 100 10]
	   5 . Dafne van Kuppevelt       	Cost =  10 	 [100 100 100 10]
	   6 . Carlos Martinez Ortiz     	Cost =  10 	 [100 100 20 10]
	   7 . Jurriaan Spaaks           	Cost =  10 	 [100 100 20 10]
	   8 . Patrick Bos               	Cost =  20 	 [10 100 100 20]
	   9 . Lieke de Boer             	Cost =  10 	 [100 20 100 10]